In [1]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import pandas as pd

In [2]:
from sqlalchemy import Column, Integer, String, Float

In [3]:
# Create Database Connection
# ----------------------------------
# PyMySQL 

import pymysql
pymysql.install_as_MySQLdb()

#mysql_engine = create_engine('mysql://{0}:{1}@{2}:{3}'.format(user, pass, host, port))

engine = create_engine("mysql://group06:gcP5f8UQpkW8w75G@cwru-data-project02.ciuevunbeloh.us-east-2.rds.amazonaws.com:3306/group06")
conn = engine.connect()

In [4]:

# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
Base.metadata.create_all(engine)

In [5]:

# Use this to clear out the db
# ----------------------------------
Base.metadata.drop_all(engine)

In [6]:
# Create a Session Object to Connect to DB
# ----------------------------------
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [7]:
#engine.execute("CREATE DATABASE group06") #create db
engine.execute("USE group06") # select new db

In [8]:
df1 = pd.read_pickle('players.pkl')
df1.head()

,player_id,name_last,name_first,birth_year,birth_month,birth_day,birth_country,birth_state,birth_city,weight,height,bats,throws,debut,debut_year,final_game,final_year
18845,zychto01,Zych,Tony,1990,8,7,USA,IL,Monee,190.0,75.0,R,R,2015-09-04,2015,2015-10-03,2015
18840,zupcibo01,Zupcic,Bob,1966,8,18,USA,PA,Pittsburgh,220.0,76.0,R,R,1991-09-07,1991,1994-08-04,1994
18839,zuninmi01,Zunino,Mike,1991,3,25,USA,FL,Cape Coral,220.0,74.0,R,R,2013-06-12,2013,2015-08-27,2015
18838,zumayjo01,Zumaya,Joel,1984,11,9,USA,CA,Chula Vista,215.0,75.0,R,R,2006-04-03,2006,2010-06-28,2010
18837,zuletju01,Zuleta,Julio,1975,3,28,Panama,Panama,Panama,230.0,78.0,R,R,2000-04-06,2000,2001-06-25,2001

In [9]:
df1.to_sql('Players',
           con = engine, 
           index = True,
           if_exists = 'replace'
)

In [10]:
print(engine.table_names())

['Batting', 'Players', 'Teams', 'pitching', 'salary']

In [12]:
df2=pd.read_pickle('managers.pkl')

In [13]:
df2.to_sql('Managers',
           con = engine, 
           index = True,
           if_exists = 'replace'
)

In [14]:
print(engine.table_names())

['Batting', 'Managers', 'Players', 'Teams', 'pitching', 'salary']