In [1]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import pandas as pd

In [2]:
from sqlalchemy import Column, Integer, String, Float

In [3]:
# Create Database Connection
# ----------------------------------
# PyMySQL 

import pymysql
pymysql.install_as_MySQLdb()

#mysql_engine = create_engine('mysql://{0}:{1}@{2}:{3}'.format(user, pass, host, port))

engine = create_engine("mysql://group06:gcP5f8UQpkW8w75G@cwru-data-project02.ciuevunbeloh.us-east-2.rds.amazonaws.com:3306/group06")
conn = engine.connect()

In [4]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
Base.metadata.create_all(engine)

In [5]:
# Use this to clear out the db
# ----------------------------------
Base.metadata.drop_all(engine)

In [6]:
# Create a Session Object to Connect to DB
# ----------------------------------
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [7]:

#engine.execute("CREATE DATABASE group06") #create db
engine.execute("USE group06") # select new db

In [8]:
df1 = pd.read_pickle('final_teams.pkl')
df1.head()

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,LgWin,WSWin,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
2047,1990,NL,ATL,ATL,W,6,162,81.0,65,97,...,N,N,Atlanta Braves,Atlanta-Fulton County Stadium,980129.0,105,106,ATL,ATL,ATL
2048,1990,AL,BAL,BAL,E,5,161,80.0,76,85,...,N,N,Baltimore Orioles,Memorial Stadium,2415189.0,97,98,BAL,BAL,BAL
2049,1990,AL,BOS,BOS,E,1,162,81.0,88,74,...,N,N,Boston Red Sox,Fenway Park II,2528986.0,105,105,BOS,BOS,BOS
2050,1990,AL,CAL,ANA,W,4,162,81.0,80,82,...,N,N,California Angels,Anaheim Stadium,2555688.0,97,97,CAL,CAL,CAL
2051,1990,AL,CHA,CHW,W,2,162,80.0,94,68,...,N,N,Chicago White Sox,Comiskey Park,2002357.0,98,98,CHW,CHA,CHA

In [9]:
df1.to_sql('Teams',
           con = engine, 
           index = True,
           if_exists = 'replace'
)

In [10]:
print(engine.table_names())

['Teams', 'merged_s_p.pkl', 'salary', 'salary_pitching']

In [11]:
df2=pd.read_pickle('final_batting.pkl')

In [12]:
df2.to_sql('Batting',
           con = engine, 
           index = True,
           if_exists = 'replace'
)

In [13]:
print(engine.table_names())

['Batting', 'Teams', 'merged_s_p.pkl', 'salary', 'salary_pitching']